% EJ2J Configuration
[{ej2j, [
	{component, "fb.localhost"},
	{component_name, "J2J Transport"},
	{server_host, "localhost"},
	{server_port, 8890},
	{server_secret, "secret"},
        {connection_timeout, 120}
        ]},
 {sasl, [
        {sasl_error_logger, false}
        ]},
 {alog, [
        {enabled_loggers, [alog_tty]},
        {install_error_logger_handler, false},
        {flows, [
                {{mod, ['_']}, {'=<', debug}, [alog_tty]}
                ]},
        {alog_tty, []}
        ]}
].
